.container{
    display: flex;
    justify-content: space-between;

}

.Card-movie {
    width: 170px;
    height: 284px;
    opacity: 1;
    border-radius: 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Card-movie h3{
    position: absolute;
    z-index: 2;
    top: 263px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.Card-movie p{
    position: absolute;
    z-index: 2;
    top: 225px;
    color: white;
    font-size: 16px;
    text-align: center;
}
.Card-movie img{
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
