.Home {
  padding: 15px 83px;
  width: 1340px;
  height: 1133px;
  opacity: 1;
  gap: 29px;
  background-color: #192026;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin: 0px;
  position: relative;
}

.Menu {
  height: 48px;
  opacity: 1;
  gap: 141px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Menu h1 {
  font-style: Bold;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 7%;
}

.Menu p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 7%;
  color: #868686;
}

.Menu input {
  width: 374px;
  height: 48px;
  border-radius: 37px;
  opacity: 1;
  gap: 10px;
  background-color: #374151;
  padding: 8px 18px;
  font-size: 20px;
  color: #868686;
}

.Explore {
  font-style: Bold;
  font-size: 16px;
  text-align: start;
}

.Explore h1{
  margin: 0px;
}

.Overlay {
  width: 1340px;
  height: 458px;
  border-radius: 12px;
  opacity: 1;
  position: relative;

}

.Overlay img {
  position: absolute;
  width: 1340px;
}

.Content {
  position: relative;
  z-index: 2;
  width: 571px;
  height: auto;
  border-radius: 12px;
  opacity: 1;
  padding-right: 15px;
  gap: 16px;
  left: 47px;
  top: 25%;
}

.Content h1 {
font-size: 36px;
line-height: 64px;
margin: 0px;
}

.Content p {
font-size: 16px;
line-height: 27px;
}

.NewRelease h1 {
  margin: 0px;
}
